<form *ngIf="personalExpenseManagement.showForm" [formGroup]="personalExpenseForm"
  (ngSubmit)="onSubmitForm()">
  <div class="row row-custom">
    <div class="col-sm-12 mt-2">
      <label for="fecha">Fecha</label>
      <input type="date" class="form-control" formControlName="fecha">
    </div>
    <div class="col-sm-12 mt-2">
      <label for="concepto">* Concepto</label>
      <input type="text" class="form-control" formControlName="concepto" required>
    </div>
    <div class="col-sm-12 mt-2">
      <label for="importe">* Importe</label>
      <input type="number" class="form-control" formControlName="importe" required>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col d-flex justify-content-center">
      <button type="submit" class="btn btn-primary"
        [disabled]="personalExpenseForm.invalid">Guardar</button>
      <span class="separate"></span>
      <button type="button" class="btn btn-secondary" (click)="cancelForm()">cancelar</button>
    </div>
  </div>
</form>
